<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.2.0/dist/js/swiffy-slider.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.2.0/dist/js/swiffy-slider-extensions.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.2.0/dist/css/swiffy-slider.min.css" rel="stylesheet" >
<h1 class="hd text-center mb-5">
    <strong> We do verification for </strong>
  </h1>
  
  <div class="   swiffy-slider slider-item-show3 slider-item-nosnap slider-item-nosnap-touch slider-nav-caret slider-nav-dark slider-nav-outside slider-nav-visible slider-indicators-round slider-nav-animation slider-nav-animation-turn slider-nav-animation-fast slider-nav-mousedrag">
 <!-- <div class= "   slider-nav-mousedrag   swiffy-slider slider-item-show3 slider-item-nosnap slider-item-nosnap-touch slider-nav-caret slider-nav-outside slider-nav-dark  ">  -->
      <ul class="slider-container   d-flex justify-content-center  ">
      <li > <img  src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/driver.webp" style="width: 12rem;" > </li>
      <li> <img src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/cook.webp" style="width: 12rem;"> </li>
      <li> <img src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/employee.webp" style="width: 12rem;"> </li>
      <li> <img src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/gardeners.webp" style="width: 12rem;"> </li>
      <li> <img src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/housekeeping.webp" style="width: 12rem;"></li>
      <li> <img src="https://raw.githubusercontent.com/priyanshu9888/tanentverify-image/main/maid.webp" style="width: 12rem;"></li>
      
  </ul>

  <button type="button  " class="slider-nav "></button>
  <button type="button" class="slider-nav slider-nav-next"></button>

 
</div>
